//color variables


//GREENS
$darkgreen : #314F40;
$green : #006533;
$lightgreen : #85C283;

//BLACKS
$black : #1B1E23;
$lightblack : #313635;
$iconColor : #666;
$formBg : #b9bccd;

//FONT COLOR
$yellow : #ffff99;
$orange : #FF6700;
$beige : #E2EDD0;